<div class="row">
  <div class="col-xs-12 content-padding">

  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">

  <div class="row margin-left-20">

    <div class="row margin-left-0 margin-bottom-20">
      <div class="col-xs-12 pl-3">
        <button class="btn btn-success margin-right-20" type="submit" [disabled]="!reactiveForm.valid">{{ editMode ? 'Save' : 'Add' }}</button>
        <button class="btn btn-danger" type="button" (click)="onCancelRecipe()">Cancel</button>
      </div>
    </div>

    <div class="col-xs-12 form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" class="form-control" formControlName="name">
    </div>

    <div class="col-xs-12 form-group">
      <label for="desc">Description:</label>
      <textarea type="text" id="desc" row="3" class="form-control" formControlName="desc"></textarea>
    </div>

    <div class="col-xs-12 form-group">
      <label for="imgUrl">Image URL:</label>
      <input type="text" id="imgUrl" class="form-control margin-bottom-10" formControlName="imgUrl" >
    </div>

  </div>

  <div class="row margin-left-20 d-flex" formArrayName="ingredients">
    <div class="col-xs-12">

    <div class="row margin-bottom-10"
         *ngFor="let ingredientControl of reactiveForm.get('ingredients')['controls']; let i = index"
         [formGroupName]="i">
      <div class="col-xs-12 col-md-8">
        <input type="text" class="form-control" formControlName="name">
      </div>
      <div class="col-xs-12 col-md-2">
        <input type="text" class="form-control" formControlName="amount">
      </div>
      <div class="col-xs-12 col-md-2 align-self-flex-end">
        <button class="btn btn-danger" type="button" (click)="onDeleteIngredient(i)">X</button>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success" type="button" (click)="onAddIngredient()">Add</button>
      </div>
    </div>

    </div>
  </div>

  </form>

  </div>
</div>
